header {
  border-bottom: 1px solid var(--header-line);
}

/* Стилизация навигации сайта */

.site-nav {
  display: flex;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-nav-link {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav-link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.nav-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.nav-info {
  display: flex;
  margin-left: auto;
}

.site-navv {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-navv:hover,
.site-navv:focus {
  color: var(--accent-color);
}

.info {
  color: var(--primary-text-color);
  /* display: flex; */
}

.info {
  margin-left: 50px;
}

.site-navv-list {
  display: flex;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.studio-link {
  display: flex;
  align-items: center;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.studio-list {
  display: flex;
  align-items: center;
}

.studio-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.studio-item:hover .studio-icon,
.studio-item:focus .studio-icon {
  fill: var(--accent-color);
}
/* ---------Прячем заголовки-------------------------- */

.section-privilege__list {
  display: flex;
}

.section-privilege__list li {
  width: 270px;
}

.section-privilege__list .item {
  margin-right: 30px;
}

.section-privilege__list .item:nth-child(4n) {
  margin-right: 0;
}
/*-------- Стилизация главной страницы сайта ----------*/

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--color-footer);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
}

.hero__tittle {
  font-family: 'Roboto';
  color: var(--body-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  margin-bottom: 30px;
}

/*-------- Стилизация модального окна ----------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .model-wrapper {
  transform: translate(-50%, -50%) scale(0.9);
}

.model-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--body-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-timing) var(--transition-function);
}

/*-------- Стилизация блока чем мы занимаемся ----------*/
.about__item {
  position: relative;
}

.about__text {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);

  color: var(--body-color);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
}

/*----------------- Стилизация заголовка р ------------------*/

.section-privilege p,
.team p {
  color: var(--primary-text-color);
}

/*---------------------- Стилизация привилегии -----------------*/

.section-privilege {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-privilege__tittle {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  margin-top: 30px;
}

.section-privilege p {
  font-size: 14px;
  line-height: 1.71;
}

.section-privilege__div {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-privilege__icon {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
/*----------------- Стилизация чем мы занимаемся ------------------*/

.about {
  padding-bottom: 94px;
}

.about__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.about__list {
  display: flex;
}

.about__list li {
  margin-right: 30px;
}

.about__list li:nth-child(3n) {
  margin-right: 0;
}
/*---------------------- Стилизация блока команда --------------------*/

.container__title {
  margin-bottom: 50px;
}

.team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team h2 {
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}

.team p {
  font-size: 16px;
  line-height: 1.19;
}

.team-list {
  display: flex;
}

.team-list__li {
  margin-right: 30px;
  background-color: var(--body-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ---------Секция наши клиенты-------------------------- */

.customers {
  padding-bottom: 94px;
  padding-top: 94px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  justify-content: center;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}

.customers-item {
  margin-right: 30px;
}

.customers-item:last-child {
  margin-right: 0;
}

.customers-icons {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
}

.customers-link:hover .customers-icons,
.customers-link:focus .customers-icons {
  fill: var(--accent-color);
}
/*------------------- Стилизация кнопок портфолио ---------------------*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  margin-top: 50px;
}

.portfolio-buttons {
  /* background: #F5F4FA; */
  color: var(--title-text-color);
  cursor: pointer;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

  transition: box-shadow var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background: var(--accent-color);
  color: var(--body-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-menu {
  display: flex;
  justify-content: center;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb::before {
  display: inline-block;
  position: absolute;

  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 0; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .image-text-overlay,
.portfolio-item:focus .image-text-overlay {
  transform: translate(0, -100%);
}

.image-text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--body-color);
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.portfolio-menu li {
  margin-right: 8px;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-menu li:last-child {
  margin-right: 0;
}

.portfolio-link {
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-about {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
}

/*------------------ Стилизация секции портфолио ---------------------*/

.portfolio-list .list-about {
  color: var(--primary-text-color);
}

.portfolio-list h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.list-about {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list li {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list li:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
}

/*--------------------- Стилизация футера --------------------------*/

.footer {
  background-color: var(--color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo.link {
  display: block;
  margin-bottom: 20px;
}

.footer-list .address {
  color: var(--body-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-list .nav {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list {
  font-size: 14px;
  line-height: 1.71;
}

.footer:hover,
.footer:focus,
.footer-list .address:hover,
.footer-list .address:focus,
.footer-list .nav:hover,
.footer-list .nav:focus {
  color: var(--accent-color);
}

address {
  font-style: normal;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-mailo {
  margin-bottom: 9px;
}

.footer-mailo .nav.link {
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-address {
  margin-bottom: 9px;
}

.footer-title {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  font-size: 14px;
}

.footer-title-div {
  display: block;
}

.container-footer-first {
  display: flex;
  align-items: baseline;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}

.footer-socials-icons {
  fill: var(--body-color);
}

.footer-first {
  margin-right: 70px;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}

/*--------------------- Оформление формы в футере --------------------------*/
.footer-subscribe-container {
  margin-left: auto;
}

.footer-subscribe-caption {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--body-color);
  display: inline-block;
  margin-bottom: 20px;
}

.hidden-caption {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.subscribe-form-email {
  background-color: var(--color-footer);
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.subscribe-form-email:hover,
.subscribe-form-email:focus {
  border-color: var(--accent-color);
  outline: 0;
}

.footer-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-button-icon {
  margin-left: 10px;
}
